.main {
    width: 100%;
    height: 800px;
}

.img1 {
    width: 100%;
    height: 200px;
    background-image: url(img/box1.jpg);
    background-size: center;
    background-position: center;
}

.img2 {
    width: 100%;
    height: 200px;
    background-image: url(img/box2.jpg);
    background-size: center;
    background-position: center;
}

.img3 {
    width: 100%;
    height: 200px;
    background-image: url(img/box3.jpg);
    background-size: center;
    background-position: center;
}

.img4 {
    width: 100%;
    height: 200px;
    background-image: url(img/box4.jpg);
    background-size: center;
    background-position: center;
}